:root {
  --lv-one: translateZ(3rem);
  --lv-two: translateZ(6rem);
  --lv-three: translateZ(9rem);
  
  --fonte-normal: 400;
  --fonte-bold: 700;
  
  --color: #b7c9e5;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;  
  font-family: sans-serif;
}

@font-face {
  font-family: 'Metal Lord';
  src: url(../fonts/metallord.ttf);
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: sans-serif;
}

.card {
  width: 500px;  
}

.card__container {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  transition: transform 3s;  
  transform-style: preserve-3d;
}

.card:hover .card__container {
  transform: rotateY(.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* padding: 5em 3em; */
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;  
}

.card__front {
  background-color: var(--color);
  background-image: url(../img/front.jpg);
  background-size: cover;
  background-position: center;  
  background-blend-mode: multiply;  
}

.card__front::before {
  content: '';
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 2px solid #b7c9e5;
  transform: var(--lv-one);
}

.card__title {
  font-size: 3rem;  
  transform: var(--lv-three);
  order: 2;
  font-family: 'Metal Lord';
  text-transform: uppercase;
  margin-top: 10px;
  color: #b7c9e5;
}

.card__subtitle {
  transform: var(--lv-two);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.35rem;
  font-weight: var(--fonte-bold);
  color: #ddbc02;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card__body {
  transform: var(--lv-two);
  font-weight: var(--fonte-normal);
  font-size: 1.3rem;
  line-height: 1.4;  
}

.card__back {
  transform: rotateY(.5turn);  
  color: var(--color);
  background: #333;
  text-align: left;
  padding-left: 50px
}

.btn-spotify {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px; 
  height: 45px;
  border: 1px solid var(--color);
  border-radius: 3px;
  cursor: pointer;
}

.btn-spotify a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);  
  text-decoration: none;
  transition: .6s;      
  width: 100%;
  height: 100%;  
  font-weight: var(--fonte-bold);
}

.btn-spotify:hover a {
  background: var(--color);
  color: #333;
  
  
}

.btn-spotify img {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}
