:root {
  --lv-one: translateZ(3rem);
  --lv-two: translateZ(6rem);
  --lv-three: translateZ(9rem);

  --font-normal: 400;
  --font-bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;  
  font-family: sans-serif;
}

@font-face {
  font-family: 'Metal Lord';
  src: url(../fonts/metallord.ttf);
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  width: 400px;  
}

.card__container {
  text-align: center;
  position: relative;
  padding: 5em;
  transition: transform 3s;
  background: coral;
  transform-style: preserve-3d;
}

.card:hover .card__container {
  transform: rotateY(.5turn);
}

.card__front, 
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card__front {
  background: lightgreen;  
}

.card__title {
  font-size: 2.8rem;
  font-family: 'Metal Lord';
  transform: var(--lv-three);
  order: 2;  
}

.card__subtitle {
  transform: var(--lv-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.3rem;
  font-weight: var(--font-bold);
  opacity: .7;
}

.card__body {
  transform: var(--lv-one);
}

.card__back {
  transform: rotateY(.5turn);
  background: lightblue;
}

 